@charset"UTF-8";

/* Ricardo */
#paddez {
    padding: 10px;
}
.news {
    padding-left: 5px;
    padding-right: 5px;
}

.news a {
    color: #000;
}

.news a:hover {
    text-decoration: none;
}

.title {
    position: absolute;
    bottom: 30px;
    margin: 5px 15px 5px 15px;
}

.imgs {
    height: 200px !important;
    width: 100%;
}

p {
    font-size: 1em;
    margin: 5px;
    padding-left: 5px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.nopadlr {
    padding-left: 0;
    padding-right: 0;
}

.nopadlrtb {
    padding: 0;
}

.thumbnail {
    margin-bottom: 10px;
}

.size2 {
    height: 135px;
}

.size912 {
    height: 260px;
}

.size91 {
    height: 130px;
}

.size200 {
    height: 200px;
}

.size1011 {
    height: 125px;
}

.size123 {
    height: 320px;
}

.size280 {
    height: 270px;
}

/* estava em 380 */
.size20 {
    height: 320px;
}

.size912a {
    height: 280px;
}

.size1011a {
    height: 135px;
}

.size9a {
    height: 270px;
}
#b{
    padding-bottom: 5px;
    border-bottom: 3px solid #333;
    margin-bottom: 10px;
    font-size: 1.5em;
}

@media (min-width: 992px){
    .texto-noti{
        margin: 15px;

    }
}
@media (min-width: 768px) {
    .padtop {
        padding-top: 19px;
    }
    .title {
        position: absolute;
        bottom: 30px;
        margin: 5px 15px 5px 15px;
    }
    .images {
        height: 310px!important;
    }

    .texto-noti{
        margin-bottom: 15px;

    }
    #imgh {
      height: 310px;
    }
    .thumbnail > img > #imgh{
      height: 310px;
    }
}
@media (max-width: 767px) {
    .size2,
    .size912,
    .size1011,
    .size123,
    .size20,
    .size91,
    .size9a,
    .size912a {
        height: auto;
    }

    .texto-noti{
        margin-bottom: 15px;

    }
    .title {
        position: absolute;
        bottom:15px ;
        margin: 5px 15px 5px 15px;
    }

}

.img-2 {
    width: 320px;
}
@media (max-width: 1320px) {
    .img-2 {
        width: 200px;
    }
}
.img-7 {
    width: 320px;
    height: 150px;
    padding-top:10px;
}

.img-10 {
    width: 280px;
    height: 280px;
}

.upper {
    text-transform: uppercase;
}


@
