@charset "UTF-8";

/* CÍRCULOS COLORIDOS NO MENU ACESSÍVEL */


.circle {
  height: 20px;
  width: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
  background-color: #000;
}

.circle-w {
  background-color: #fff;
}

.together {

}

.menu-ac {
 	font-family: 'Lato', sans-serif;
 	margin: 0 auto;
 	border: 0.3px solid  #BEBEBE;
 	width: 100%;
 	padding-left: 20px;
	padding-top: 10px;
	background-color: #fff;
}

.navbar-default {
	background-color: red;
}

.navbar a {
color:#696969;
font-style: normal;
font-weight: bold;

}


.nav a {
color:#000;
font-style: normal;
}

.menu-ac2 {

padding-left:60px;
padding-top: 3px; 
border: 0.3px solid  #BEBEBE;
background-color:  #EEE9E9;
width: 100%;
font-family: 'Lato', sans-serif;


}

footer {
	background: #262730 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/noise-bg.png) repeat 0 0;
	padding: 20px 0 !important;
	color: #bdbdbd;
}

footer ul {
	list-style: none;
	padding: 0;
}

footer h1 {
	font-size: 16px;
	margin-bottom: 20px;
}

footer ul li:first-child {
	font-weight: bold;
	color: white;
	margin-bottom: 5px;
}

footer li a {
	color: inherit;
}

footer li a:hover {
	text-decoration: none;
	color: #f9f9f9;
}

.LogoNav {
padding-left:0px ;
height: 50px;
margin-right: 0px;

}

@media (min-width: 1366px) {
  .container_adaptado {
      margin-top: 136px;  
	}
}

@media (max-width: 590px) {
   .container_adaptado { 
       margin-top: 160px;  
	}
}

@media (max-width: 375px) {
   .container_adaptado { 
       margin-top: 175px;  
	}
}